body{
    padding-top: 0px;
}

td{
    padding: 3px !important;
    text-align: center !important;
}

#TableDiv{
    margin:0% 12% ;
}

#menUl{
    margin-top: 0px;
    padding-top: 0px;
}
